# Exploratory Data Analysis
Importing useful libraries

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import time
from datetime import datetime
from collections import Counter

## Loading datasets

In [14]:
train = pd.read_csv('D:/Kaggle Data/MMBOX Churn/churn/train.csv')
train_2 = pd.read_csv('D:/Kaggle Data/MMBOX Churn/churn/train_v2.csv')
test_2 = pd.read_csv('D:/Kaggle Data/MMBOX Churn/churn/sample_submission_v2.csv')
transactions = pd.read_csv('D:/Kaggle Data/MMBOX Churn/churn/transactions.csv')
transactions_2 = pd.read_csv('D:/Kaggle Data/MMBOX Churn/churn/transactions_v2.csv')
members_3 = pd.read_csv('D:/Kaggle Data/MMBOX Churn/churn/members_v3.csv')
user_logs_2 = pd.read_csv('D:/Kaggle Data/MMBOX Churn/churn/user_logs_v2.csv', nrows=1000000)
user_logs = pd.read_csv('D:/Kaggle Data/MMBOX Churn/churn/user_logs.csv', nrows=1000000)

## Print data heads

In [15]:
print("=========== Train ===========")
print(train.head())
print(train.info())
print("=========== Train 2 ===========")
print(train_2.head())
print(train_2.info())
print("=========== Transaction ===========")
print(transactions.head())
print(transactions.info())
print("=========== Transaction 2 ===========")
print(transactions_2.head())
print(transactions_2.info())
print("=========== Members 3 ===========")
print(members_3.head())
print(members_3.info())
print("=========== User Logs  ===========")
print(user_logs.head())
print(user_logs.info())
print("=========== User Logs 2  ===========")
print(user_logs_2.head())
print(user_logs_2.info())

=========== Train ===========
                                           msno  is_churn
0  waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=         1
1  QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=         1
2  fGwBva6hikQmTJzrbz/2Ezjm5Cth5jZUNvXigKK2AFA=         1
3  mT5V8rEpa+8wuqi6x0DoVd3H5icMKkE9Prt49UlmK+4=         1
4  XaPhtGLk/5UvvOYHcONTwsnH97P4eGECeq+BARGItRw=         1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992931 entries, 0 to 992930
Data columns (total 2 columns):
msno        992931 non-null object
is_churn    992931 non-null int64
dtypes: int64(1), object(1)
memory usage: 15.2+ MB
None
=========== Train 2 ===========
                                           msno  is_churn
0  ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=         1
1  f/NmvEzHfhINFEYZTR05prUdr+E+3+oewvweYz9cCQE=         1
2  zLo9f73nGGT1p21ltZC3ChiRnAVvgibMyazbCxvWPcg=         1
3  8iF/+8HY8lJKFrTc7iR9ZYGCG2Ecrogbc2Vy5YhsfhQ=         1
4  K6fja4+jmoZ5xG6BypqX80Uw/XKpMgrEMdG2edFOxnA=         1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 970960 entries, 0 to 970959
Data columns (total 2 columns):
msno        970960 non-null object
is_churn    970960 non-null int64
dtypes: int64(1), object(1)
memory usage: 14.8+ MB
None
=========== Transaction ===========
                                           msno  payment_method_id  \
0  YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=                 41
1  AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=                 41
2  UkDFI97Qb6+s2LWcijVVv4rMAsORbVDT2wNXF0aVbns=                 41
3  M1C56ijxozNaGD0t2h68PnH2xtx5iO5iR2MVYQB6nBI=                 39
4  yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=                 39

   payment_plan_days  plan_list_price  actual_amount_paid  is_auto_renew  \
0                 30              129                 129              1
1                 30              149                 149              1
2                 30              129                 129              1
3                 30              149                 149              1
4                 30              149                 149              1

   transaction_date  membership_expire_date  is_cancel
0          20150930                20151101          0
1          20150930                20151031          0
2          20150930                20160427          0
3          20150930                20151128          0
4          20150930                20151121          0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21547746 entries, 0 to 21547745
Data columns (total 9 columns):
msno                      object
payment_method_id         int64
payment_plan_days         int64
plan_list_price           int64
actual_amount_paid        int64
is_auto_renew             int64
transaction_date          int64
membership_expire_date    int64
is_cancel                 int64
dtypes: int64(8), object(1)
memory usage: 1.4+ GB
None
=========== Transaction 2 ===========
                                           msno  payment_method_id  \
0  ++6eU4LsQ3UQ20ILS7d99XK8WbiVgbyYL4FUgzZR134=                 32
1  ++lvGPJOinuin/8esghpnqdljm6NXS8m8Zwchc7gOeA=                 41
2  +/GXNtXWQVfKrEDqYAzcSw2xSPYMKWNj22m+5XkVQZc=                 36
3  +/w1UrZwyka4C9oNH3+Q8fUf3fD8R3EwWrx57ODIsqk=                 36
4  +00PGzKTYqtnb65mPKPyeHXcZEwqiEzktpQksaaSC3c=                 41

   payment_plan_days  plan_list_price  actual_amount_paid  is_auto_renew  \
0                 90              298                 298              0
1                 30              149                 149              1
2                 30              180                 180              1
3                 30              180                 180              1
4                 30               99                  99              1

   transaction_date  membership_expire_date  is_cancel
0          20170131                20170504          0
1          20150809                20190412          0
2          20170303                20170422          0
3          20170329                20170331          1
4          20170323                20170423          0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1431009 entries, 0 to 1431008
Data columns (total 9 columns):
msno                      1431009 non-null object
payment_method_id         1431009 non-null int64
payment_plan_days         1431009 non-null int64
plan_list_price           1431009 non-null int64
actual_amount_paid        1431009 non-null int64
is_auto_renew             1431009 non-null int64
transaction_date          1431009 non-null int64
membership_expire_date    1431009 non-null int64
is_cancel                 1431009 non-null int64
dtypes: int64(8), object(1)
memory usage: 98.3+ MB
None
=========== Members 3 ===========
                                           msno  city  bd  gender  \
0  Rb9UwLQTrxzBVwCB6+bCcSQWZ9JiNLC9dXtM1oEsZA8=     1   0     NaN
1  +tJonkh+O1CA796Fm5X60UMOtB6POHAwPjbTRVl/EuU=     1   0     NaN
2  cV358ssn7a0f7jZOwGNWS07wCKVqxyiImJUX6xcIwKw=     1   0     NaN
3  9bzDeJP6sQodK73K5CBlJ6fgIQzPeLnRl0p5B77XP+g=     1   0     NaN
4  WFLY3s7z4EZsieHCt63XrsdtfTEmJ+2PnnKLH5GY4Tk=     6  32  female

   registered_via  registration_init_time
0              11                20110911
1               7                20110914
2              11                20110915
3              11                20110915
4               9                20110915
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6769473 entries, 0 to 6769472
Data columns (total 6 columns):
msno                      object
city                      int64
bd                        int64
gender                    object
registered_via            int64
registration_init_time    int64
dtypes: int64(4), object(2)
memory usage: 309.9+ MB
None
=========== User Logs  ===========
                                           msno      date  num_25  num_50  \
0  rxIP2f2aN0rYNp+toI0Obt/N/FYQX8hcO1fTmmy2h34=  20150513       0       0
1  rxIP2f2aN0rYNp+toI0Obt/N/FYQX8hcO1fTmmy2h34=  20150709       9       1
2  yxiEWwE9VR5utpUecLxVdQ5B7NysUPfrNtGINaM2zA8=  20150105       3       3
3  yxiEWwE9VR5utpUecLxVdQ5B7NysUPfrNtGINaM2zA8=  20150306       1       0
4  yxiEWwE9VR5utpUecLxVdQ5B7NysUPfrNtGINaM2zA8=  20150501       3       0

   num_75  num_985  num_100  num_unq  total_secs
0       0        0        1        1     280.335
1       0        0        7       11    1658.948
2       0        0       68       36   17364.956
3       1        1       97       27   24667.317
4       0        0       38       38    9649.029
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 9 columns):
msno          1000000 non-null object
date          1000000 non-null int64
num_25        1000000 non-null int64
num_50        1000000 non-null int64
num_75        1000000 non-null int64
num_985       1000000 non-null int64
num_100       1000000 non-null int64
num_unq       1000000 non-null int64
total_secs    1000000 non-null float64
dtypes: float64(1), int64(7), object(1)
memory usage: 68.7+ MB
None
=========== User Logs 2  ===========
                                           msno      date  num_25  num_50  \
0  u9E91QDTvHLq6NXjEaWv8u4QIqhrHk72kE+w31Gnhdg=  20170331       8       4
1  nTeWW/eOZA/UHKdD5L7DEqKKFTjaAj3ALLPoAWsU8n0=  20170330       2       2
2  2UqkWXwZbIjs03dHLU9KHJNNEvEkZVzm69f3jCS+uLI=  20170331      52       3
3  ycwLc+m2O0a85jSLALtr941AaZt9ai8Qwlg9n0Nql5U=  20170331     176       4
4  EGcbTofOSOkMmQyN1NMLxHEXJ1yV3t/JdhGwQ9wXjnI=  20170331       2       1

   num_75  num_985  num_100  num_unq  total_secs
0       0        1       21       18    6309.273
1       1        0        9       11    2390.699
2       5        3       84      110   23203.337
3       2        2       19      191    7100.454
4       0        1      112       93   28401.558
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 9 columns):
msno          1000000 non-null object
date          1000000 non-null int64
num_25        1000000 non-null int64
num_50        1000000 non-null int64
num_75        1000000 non-null int64
num_985       1000000 non-null int64
num_100       1000000 non-null int64
num_unq       1000000 non-null int64
total_secs    1000000 non-null float64
dtypes: float64(1), int64(7), object(1)
memory usage: 68.7+ MB
None

## Merging training and members data 
Key : member id

In [17]:
training = pd.merge(left = train,right = members_3,how = 'left',on=['msno'])
training.head()
training.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 992931 entries, 0 to 992930
Data columns (total 7 columns):
msno                      992931 non-null object
is_churn                  992931 non-null int64
city                      877161 non-null float64
bd                        877161 non-null float64
gender                    391692 non-null object
registered_via            877161 non-null float64
registration_init_time    877161 non-null float64
dtypes: float64(4), int64(1), object(2)
memory usage: 60.6+ MB

## Changing format of city and registered_via 
float to int.
blank values to NaN

In [19]:
training['city'] = training.city.apply(lambda x: int(x) if pd.notnull(x) else "NAN")
training['registered_via'] = training.registered_via.apply(lambda x: int(x) if pd.notnull(x) else "NAN")
training['gender']=training['gender'].fillna("NAN")

training['registration_init_time'] = training.registration_init_time.apply(lambda x: datetime.strptime(str(int(x)), "%Y%m%d").date() if pd.notnull(x) else "NAN" )

ValueError: invalid literal for int() with base 10: 'NAN'