# FEATURE ENGINEERING
# Feature Engineering on Transactions and Members
## Abstract
This notebook will be expanded into the full kernel, for the moment it is just the feature engineering part
## Import useful
### Import libraries

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import time
from datetime import datetime
from collections import Counter
from subprocess import check_output
import subprocess

## Number of rows in files

### Import datasets

In [2]:
train_1 = pd.read_csv('F:/Kaggle Data/MMBOX Churn/churn/train.csv')
train_2 = pd.read_csv('F:/Kaggle Data/MMBOX Churn/churn/train_v2.csv')
train=pd.concat([train_1,train_2])
test = pd.read_csv('F:/Kaggle Data/MMBOX Churn/churn/sample_submission_v2.csv')
transactions = pd.read_csv('F:/Kaggle Data/MMBOX Churn/churn/transactions.csv')
transactions_2 = pd.read_csv('F:/Kaggle Data/MMBOX Churn/churn/transactions_v2.csv')
members_3 = pd.read_csv('F:/Kaggle Data/MMBOX Churn/churn/members_v3.csv')

Concatenate transactions datasets

In [3]:

transactions_merged=pd.concat([transactions, transactions_2])

## Reduce memory consumption
By changing variable type

In [4]:
def change_datatype(df):
    int_cols = list(df.select_dtypes(include=['int']).columns)
    for col in int_cols:
        if ((np.max(df[col]) <= 127) and(np.min(df[col] >= -128))):
            df[col] = df[col].astype(np.int8)
        elif ((np.max(df[col]) <= 32767) and(np.min(df[col] >= -32768))):
            df[col] = df[col].astype(np.int16)
        elif ((np.max(df[col]) <= 2147483647) and(np.min(df[col] >= -2147483648))):
            df[col] = df[col].astype(np.int32)
        else:
            df[col] = df[col].astype(np.int64)
            
def change_datatype_float(df):
    float_cols = list(df.select_dtypes(include=['float']).columns)
    for col in float_cols:
        df[col] = df[col].astype(np.float32)

In [5]:
change_datatype(transactions_merged)
change_datatype_float(transactions_merged)

change_datatype(members_3)
change_datatype_float(members_3)

## Create "discount" feature
Create a feature giving the different discounts received by users, and print the unique values of discounts

In [6]:
transactions_merged['discount'] = transactions_merged['plan_list_price'] - transactions_merged['actual_amount_paid']

transactions_merged['discount'].unique()

array([    0,   149,  -149,    30,  -119,  -150,  -129,  -536,  -894,
       -1788,  -134,    20,  -799,   120,   180,   -35,    50, -1599,
        -100,  -131,  -300,  -480,  -450,    -1, -1000,  -105,     1,
        -447, -1200,  -930,   -30,   -50,   699,   -11,  -350,  -500,
           4,  -400,   -41,   -14, -2000,   -95,   -20,  -596,    45,
       -1150,   108,  -760,   -12,    99,   129,  1599,    10,     8,
         -90,    -3,   894], dtype=int64)

## Create "is_discount" binary feature

In [7]:
transactions_merged['is_discount'] = transactions_merged.discount.apply(lambda x: 1 if x > 0 else 0)
print(transactions_merged['is_discount'].head())
print(transactions_merged['is_discount'].unique())

0    0
1    0
2    0
3    0
4    0
Name: is_discount, dtype: int64
[0 1]

## Create "amount_per_day" feature
This feature gives the amount paid every day as the amount paid divided by the payment plan

In [8]:
transactions_merged['amt_per_day'] = transactions_merged['actual_amount_paid'] / transactions_merged['payment_plan_days']
transactions_merged['amt_per_day'].head()

0    4.300000
1    4.966667
2    4.300000
3    4.966667
4    4.966667
Name: amt_per_day, dtype: float64

## Convert transaction_date and memberhsip_expire to data format

In [9]:
date_cols = ['transaction_date', 'membership_expire_date']
for col in date_cols:
    transactions_merged[col] = pd.to_datetime(transactions_merged[col], format='%Y%m%d')
    
transactions_merged.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,discount,is_discount,amt_per_day
0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,2015-09-30,2015-11-01,0,0,0,4.300000
1,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,41,30,149,149,1,2015-09-30,2015-10-31,0,0,0,4.966667
2,UkDFI97Qb6+s2LWcijVVv4rMAsORbVDT2wNXF0aVbns=,41,30,129,129,1,2015-09-30,2016-04-27,0,0,0,4.300000
3,M1C56ijxozNaGD0t2h68PnH2xtx5iO5iR2MVYQB6nBI=,39,30,149,149,1,2015-09-30,2015-11-28,0,0,0,4.966667
4,yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=,39,30,149,149,1,2015-09-30,2015-11-21,0,0,0,4.966667

## Create "memberhsip_duration" feature

In [10]:
#--- difference in days ---
transactions_merged['membership_duration'] = transactions_merged.membership_expire_date - transactions_merged.transaction_date
transactions_merged['membership_duration'] = transactions_merged['membership_duration'] / np.timedelta64(1, 'D')
transactions_merged['membership_duration'] = transactions_merged['membership_duration'].astype(int)

 
#---difference in months ---
#df_transactions['membership_duration_M'] = (df_transactions.membership_expire_date - df_transactions.transaction_date)/ np.timedelta64(1, 'M')
#df_transactions['membership_duration_M'] = round(df_transactions['membership_duration_M']).astype(int)
#df_transactions['membership_duration_M'].head()

In [12]:
change_datatype(transactions_merged)
change_datatype_float(transactions_merged)

## Member_v3 
### inspect content

In [13]:
members_3.head()

,msno,city,bd,gender,registered_via,registration_init_time
0,Rb9UwLQTrxzBVwCB6+bCcSQWZ9JiNLC9dXtM1oEsZA8=,1,0,NaN,11,20110911
1,+tJonkh+O1CA796Fm5X60UMOtB6POHAwPjbTRVl/EuU=,1,0,NaN,7,20110914
2,cV358ssn7a0f7jZOwGNWS07wCKVqxyiImJUX6xcIwKw=,1,0,NaN,11,20110915
3,9bzDeJP6sQodK73K5CBlJ6fgIQzPeLnRl0p5B77XP+g=,1,0,NaN,11,20110915
4,WFLY3s7z4EZsieHCt63XrsdtfTEmJ+2PnnKLH5GY4Tk=,6,32,female,9,20110915

### Convert dates

In [14]:
date_cols = ['registration_init_time']

for col in date_cols:
    members_3[col] = pd.to_datetime(members_3[col], format='%Y%m%d')

### Convert gender to binary feature

## Merge transactions and members

In [15]:
#-- merging the two dataframes---
combination = pd.merge(transactions_merged, members_3, on='msno', how='inner')

#--- deleting the dataframes to save memory
del transactions_merged
del members_3

combination.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,discount,is_discount,amt_per_day,membership_duration,city,bd,gender,registered_via,registration_init_time
0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,2015-09-30,2015-11-01,0,0,0,4.3,32,1,0,NaN,7,2011-06-29
1,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,2015-10-31,2015-12-01,0,0,0,4.3,31,1,0,NaN,7,2011-06-29
2,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,2015-06-30,2015-08-01,0,0,0,4.3,32,1,0,NaN,7,2011-06-29
3,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,2015-02-28,2015-04-01,0,0,0,4.3,32,1,0,NaN,7,2011-06-29
4,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,2016-11-30,2017-01-01,0,0,0,4.3,32,1,0,NaN,7,2011-06-29

## Create "Auto_renew_not_cancel" on combination

In [16]:
combination['autorenew_&_not_cancel'] = ((combination.is_auto_renew == 1) == (combination.is_cancel == 0)).astype(np.int8)
combination['autorenew_&_not_cancel'].unique()

array([1, 0], dtype=int64)

## Create "not_autorenew_and_cancel" on combination

In [17]:
combination['notAutorenew_&_cancel'] = ((combination.is_auto_renew == 0) == (combination.is_cancel == 1)).astype(np.int8)
combination['notAutorenew_&_cancel'].unique()

array([1, 0], dtype=int64)

# Feature engineering on "user_logs"

## Extract user_logs as chunks
Useful to reduce RAM usage

In [18]:
def process_user_log(chunk):
    grouped_object=chunk.groupby(chunk.index,sort=False) # not sorting results in a minor speedup
    func = {'date':['min','max','count'], 
           'num_25':['sum'],'num_50':['sum'],
           'num_75':['sum'],'num_985':['sum'],
           'num_100':['sum'],'num_unq':['sum'],'total_secs':['sum']}
    answer=grouped_object.agg(func)
    return answer
print("done")

done

### User_logs
DO NOT USE FOR THE MOMENT

In [24]:
size=2e7 # 20 million
reader = pd.read_csv('F:/Kaggle Data/MMBOX Churn/churn/user_logs.csv',chunksize=size,index_col=['msno'])
start_time = time.time()

loop=True
i=1
while loop :
    try:
        user_log_chunk=next(reader)
        if i==1:
            result=user_log_chunk
        else:
            result=result.append(user_log_chunk)
        print("Loop ",i,"took %s seconds" % (time.time() - start_time))
        start_time=time.time()
        i=i+1
    except StopIteration :
        loop=False
        print("Iteration is stopped")

Loop  1 took 32.34698820114136 seconds

MemoryError:

### user_logs_2

In [23]:
size=2e7
loop=True
reader_2=pd.read_csv('D:/Kaggle Data/MMBOX Churn/churn/user_logs_v2.csv', chunksize=size, index_col=['msno'])
start_time=time.time()
chunks2=[]
while loop :
    try:
        user_log_chunk=next(reader_2)
        #result=result.append(process_user_log(user_log_chunk))
        chunks2.append(user_log_chunk)
        print("Loop ",i,"took %s seconds" % (time.time() - start_time))
    except StopIteration :
        loop=False
        print("Iteration is stopped")

result=pd.concatenate(chunks2)
result.head()
result.info()

KeyboardInterrupt:

## contract user_log by id

In [32]:
#result.columns.values
result.columns = ['_'.join(col).strip() for col in result.columns.values]
result.columns

Index(['date_min', 'date_max', 'date_count', 'num_25_sum', 'num_50_sum',
       'num_75_sum', 'num_985_sum', 'num_100_sum', 'num_unq_sum',
       'total_secs_sum'],
      dtype='object')

Add "ratio" feature that gives the ratio between finished and unfinished songs
We create the mean and std column names, they will be calculated with the agg(function) in the next cell.

In [ ]:
result['ratio_mean']=result['num_100_sum']/(result['num_25_sum']+result['num_50_sum']+result['num_75_sum']+result['num_985_sum'])
result['ratio_std']=result['num_100_sum']/(result['num_25_sum']+result['num_50_sum']+result['num_75_sum']+result['num_985_sum'])
result.ratio_mean.head()

Aggregate user_logs

In [33]:
result.head()
func = {'date_min':['min'],'date_max':['max'],'date_count':['count'] ,
           'num_25_sum':['sum'],'num_50_sum':['sum'],
           'num_75_sum':['sum'],'num_985_sum':['sum'],
           'num_100_sum':['sum'],'num_unq_sum':['sum'],'total_secs_sum':['sum'], 'ratio_mean':['mean'], 'ratio_std':['std']}
processed_user_log=result.groupby(result.index).agg(func)
print(len(processed_user_log))
processed_user_log.columns = processed_user_log.columns.get_level_values(0)
print(processed_user_log.head())

5234111
                                              date_min  date_max  date_count  \
msno
+++4vcS9aMH7KWdfh5git6nA5fC5jjisd5H/NcM++WM=  20150427  20150427           1
+++EI4HgyhgcJHIPXk/VRP7bt17+2joG39T6oEfJ+tc=  20160420  20160420           1
+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=  20160909  20160915           3
+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=  20150101  20170227          10
+++TipL0Kt3JvgNE9ahuJ8o+drJAnQINtxD4c5GePXI=  20151230  20151230           1

                                              num_25_sum  num_50_sum  \
msno
+++4vcS9aMH7KWdfh5git6nA5fC5jjisd5H/NcM++WM=           1           1
+++EI4HgyhgcJHIPXk/VRP7bt17+2joG39T6oEfJ+tc=           2           0
+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=          60          12
+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=         817         249
+++TipL0Kt3JvgNE9ahuJ8o+drJAnQINtxD4c5GePXI=           3           3

                                              num_75_sum  num_985_sum  \
msno
+++4vcS9aMH7KWdfh5git6nA5fC5jjisd5H/NcM++WM=           0            0
+++EI4HgyhgcJHIPXk/VRP7bt17+2joG39T6oEfJ+tc=           0            0
+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=          14            7
+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=         227          195
+++TipL0Kt3JvgNE9ahuJ8o+drJAnQINtxD4c5GePXI=           2            1

                                              num_100_sum  num_unq_sum  \
msno
+++4vcS9aMH7KWdfh5git6nA5fC5jjisd5H/NcM++WM=            0            2
+++EI4HgyhgcJHIPXk/VRP7bt17+2joG39T6oEfJ+tc=            0            1
+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=          171          179
+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=        59354        53604
+++TipL0Kt3JvgNE9ahuJ8o+drJAnQINtxD4c5GePXI=           14           22

                                              total_secs_sum
msno
+++4vcS9aMH7KWdfh5git6nA5fC5jjisd5H/NcM++WM=    9.741100e+01
+++EI4HgyhgcJHIPXk/VRP7bt17+2joG39T6oEfJ+tc=    5.686800e+01
+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=    4.999677e+04
+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=    1.466484e+07
+++TipL0Kt3JvgNE9ahuJ8o+drJAnQINtxD4c5GePXI=    3.661527e+03

## convert dates

In [34]:
date_cols = ['date_min','date_max']

for col in date_cols:
    result[col] = pd.to_datetime(result[col], format='%Y%m%d')

result.head()

,date_min,date_max,date_count,num_25_sum,num_50_sum,num_75_sum,num_985_sum,num_100_sum,num_unq_sum,total_secs_sum
msno,,,,,,,,,,
rxIP2f2aN0rYNp+toI0Obt/N/FYQX8hcO1fTmmy2h34=,2015-05-13,2015-07-15,10,40,8,5,6,69,78,20290.035
yxiEWwE9VR5utpUecLxVdQ5B7NysUPfrNtGINaM2zA8=,2015-01-05,2017-01-10,65,269,108,72,56,3084,2398,818179.921
PNxIsSLWOJDCm7pNPFzRO/6Mmg2WeZA2nf6hw6t1x3g=,2015-12-01,2017-01-23,15,15,9,8,4,249,229,62361.669
KXF9c/T66LZIzFq+xS64icWMhDQE6miCZAtdXRjZHX8=,2015-08-03,2017-01-30,20,78,27,11,10,233,310,62085.336
oy2721XIrBu+MEh8XjPTlt5b7gCronoHf/oFN+YwIv8=,2015-02-05,2016-07-26,50,150,76,68,47,2659,1832,625925.513

In [35]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19166671 entries, rxIP2f2aN0rYNp+toI0Obt/N/FYQX8hcO1fTmmy2h34= to AKjgT/J+RyvwdBV8iDKIRcgCZej1AQeJYUdSvpxy2mw=
Data columns (total 10 columns):
date_min          datetime64[ns]
date_max          datetime64[ns]
date_count        int64
num_25_sum        int64
num_50_sum        int64
num_75_sum        int64
num_985_sum       int64
num_100_sum       int64
num_unq_sum       int64
total_secs_sum    float64
dtypes: datetime64[ns](2), float64(1), int64(7)
memory usage: 2.2+ GB

## number of complete songs against uncompleted songs
TODO : will probably need normalisation and standardisation at some point

In [36]:
result['completed_ratio']=result['num_100_sum']/(result['num_25_sum']+result['num_50_sum']+result['num_75_sum']+result['num_985_sum'])

In [37]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19166671 entries, rxIP2f2aN0rYNp+toI0Obt/N/FYQX8hcO1fTmmy2h34= to AKjgT/J+RyvwdBV8iDKIRcgCZej1AQeJYUdSvpxy2mw=
Data columns (total 11 columns):
date_min           datetime64[ns]
date_max           datetime64[ns]
date_count         int64
num_25_sum         int64
num_50_sum         int64
num_75_sum         int64
num_985_sum        int64
num_100_sum        int64
num_unq_sum        int64
total_secs_sum     float64
completed_ratio    float64
dtypes: datetime64[ns](2), float64(2), int64(7)
memory usage: 2.3+ GB

In [38]:
result.completed_ratio.head()

msno
rxIP2f2aN0rYNp+toI0Obt/N/FYQX8hcO1fTmmy2h34=    1.169492
yxiEWwE9VR5utpUecLxVdQ5B7NysUPfrNtGINaM2zA8=    6.106931
PNxIsSLWOJDCm7pNPFzRO/6Mmg2WeZA2nf6hw6t1x3g=    6.916667
KXF9c/T66LZIzFq+xS64icWMhDQE6miCZAtdXRjZHX8=    1.849206
oy2721XIrBu+MEh8XjPTlt5b7gCronoHf/oFN+YwIv8=    7.797654
Name: completed_ratio, dtype: float64

# PREPARE TEST AND TRAIN

In [ ]:
train=pd.merge([train,combination],how='left', on='msno')
print("merged train with combination")
train=pd.merge([train,result], how='left', on='msno')
print("merged train with user_logs")

test=pd.merge([test,combination], how='left', on='msno')
print("merged test with combination")
test=pd.merge([test,result], how='left', on='msno')
print("merged test with user_logs")

In [ ]:
train = train.fillna(0)
test = test.fillna(0)

cols = [c for c in train.columns if c not in ['is_churn','msno']]




_train, _valid, _target_train, _target_valid = train_test_split(train[cols] ,train['msno'] , test_size=0.2, random_state=None)

# LEARNING

## LGBM stacker

In [ ]:
import numpy as np
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.metrics import log_loss





class Ensemble(object):
    def __init__(self, n_splits, stacker, base_models, xgb_params):
        self.n_splits = n_splits
        self.stacker = stacker
        self.base_models = base_models
        self.xgb_params = xgb_params

    def fit_predict(self, _X, _y, valid, target_valid, T):
        X = np.array(_X)
        y = np.array(_y)
        T = np.array(T)

        folds = list(StratifiedKFold(n_splits=self.n_splits, shuffle=True, random_state=2016).split(X, y))

        S_train = np.zeros((X.shape[0], len(self.base_models)))
        S_test = np.zeros((T.shape[0], len(self.base_models)))
        S_valid = np.zeros((valid.shape[0], len(self.base_models)))
        for i, clf in enumerate(self.base_models):

            S_test_i = np.zeros((T.shape[0], self.n_splits))
            S_valid_i = np.zeros((valid.shape[0], self.n_splits))

            for j, (train_idx, test_idx) in enumerate(folds):
                X_train = X[train_idx]
                y_train = y[train_idx]
                X_holdout = X[test_idx]
#                y_holdout = y[test_idx]

                print ("Fit %s fold %d" % (str(clf).split('(')[0], j+1))
                clf.fit(X_train, y_train)
#                cross_score = cross_val_score(clf, X_train, y_train, cv=3, scoring='roc_auc')
#                print("    cross_score: %.5f" % (cross_score.mean()))
                y_pred = clf.predict_proba(X_holdout)[:,1]   
                

                S_train[test_idx, i] = y_pred
                S_test_i[:, j] = clf.predict_proba(T)[:,1]
                S_valid_i[:,j] = clf.predict_proba(valid)[:,1]
            S_test[:, i] = S_test_i.mean(axis=1)
            S_valid[:,i] = S_valid_i.mean(axis=1)
            
            



        self.stacker.fit(S_train, y)
        res = self.stacker.predict_proba(S_test)[:,1]
        res2 = self.stacker.predict_proba(S_valid)[:,1]
        return res, res2

## LGBM parameters

In [ ]:
lgb_params = {}
lgb_params['learning_rate'] = 0.02
lgb_params['n_estimators'] = 650
lgb_params['max_bin'] = 10
lgb_params['subsample'] = 0.8
lgb_params['subsample_freq'] = 10  
lgb_params['min_child_samples'] = 500
lgb_params['feature_fraction'] = 0.9
lgb_params['bagging_freq'] = 1
lgb_params['seed'] = 200

lgb_params2 = {}
lgb_params2['n_estimators'] = 1090
lgb_params2['learning_rate'] = 0.02   
lgb_params2['subsample'] = 0.7
lgb_params2['subsample_freq'] = 2
lgb_params2['num_leaves'] = 16
lgb_params2['feature_fraction'] = 0.8
lgb_params2['bagging_freq'] = 1
lgb_params2['seed'] = 200


lgb_params3 = {}
lgb_params3['n_estimators'] = 1100
lgb_params3['max_depth'] = 4
lgb_params3['learning_rate'] = 0.02
lgb_params3['feature_fraction'] = 0.95
lgb_params3['bagging_freq'] = 1
lgb_params3['seed'] = 200

lgb_model = LGBMClassifier(**lgb_params)

lgb_model2 = LGBMClassifier(**lgb_params2)

lgb_model3 = LGBMClassifier(**lgb_params3)

log_model = LogisticRegression()
 
stack = Ensemble(n_splits=6,
        stacker = log_model,
        base_models = (lgb_model, lgb_model2, lgb_model3),
                 xgb_params=_xgb_params)
        
y_pred, y_valid = stack.fit_predict(_train, _target_train, _valid, _target_valid, test[cols])

## Checking accuracy on validation set

In [ ]:
loss = log_loss(_target_valid,y_valid)
print("The log loss of our model is :")
print(loss)

## Exporting to CSV

In [ ]:
test['is_churn'] = y_pred
test[['msno','is_churn']].to_csv('submission.csv', index=False)